{% extends "server/layout.html" %}
{% load static %}


{% block script %}
    <script src="{% static 'server/apiScript.js' %}" ></script>
{% endblock %}

{% block body %}

    <div>

        <p> Catalogue</p>
        <div>
            <h4> Product 1 </h4>
            <p> Price: ₹ 10 </p>
            <button onclick="buy()"> BUY </button>
        </div>
        <br><br>
        <div>
            <h4> Product 2 </h4>
            <p> Price : ₹ 20 </p>
            <button> BUY </button>
        </div>
        <br><br>
        <div>
            <h4> Product 3 </h4>
            <p> Price : ₹ 15 </p>
            <button> BUY </button>
        </div>
        
    </div>



{% endblock %}

